.ProviderBase {
    background-image: url('https://images.unsplash.com/photo-1542838132-92c53300491e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JvY2VyeXxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60');
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    height: 100vh;
    background-position: center; 
    background-size: contain;
    filter: brightness(120%);
}
